<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EmailGenie</title>
    <link rel="stylesheet" href="/css/style.css">
    <!-- Favicon -->
<link rel="icon" href="/icon.png" type="image/png">

</head>
<body>

    <!-- views/partials/header.ejs -->

