<%- include('partials/header') %>
<div class="dashboard">
  <%- include('partials/side-menu') %>
  <main class="content">
    <h2>Favorites!</h2>
    <!-- Form for composing email -->
  </main>
</div>
<%- include('partials/footer') %>
